<div class="navbar">
    
    <div class="leftNav">
      <ul class="leftMenu">
       <li class="menuItem"><a href="#">mycamp</a></li>
        <li class="menuItem">summer</li>
        <li class="menuItem">winter</li>
        <li class="menuItem">tours</li>
      </ul>
    </div>
    
    <div class="centrNav">
      <div class="logoMain">mycamp</div>
    </div>
    
    <div class="rightNav">
      <ul class="rightMenu">
        <li class="menuItem">about</li>
        <li class="menuItem">FAQ</li>
        <li class="menuItem">contact</li>
      </ul>
    </div>
  </div>