body{
    height: 100vh;
}

.header{
    height: 100%;
    background-image: url("http://www.mycamp.com.ua/images/mycamp/photo/mainSummer2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

